/**soap bubbles font by catcumber, please give full credits to catcumber if used**/

@font-face {
font-family: Soap Bubbles;
src: url('https://raw.githubusercontent.com/cucumber-cat/Soap-Bubbles/main/soapbubbles-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/Soap-Bubbles/main/soapbubbles-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/**hello sunshine font by catcumber, please give full credits to catcumber if used**/
@font-face {
font-family: Hello Sunshine;
src: url('https://raw.githubusercontent.com/cucumber-cat/Hello-Sunshine/main/hellosunshine-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/Hello-Sunshine/main/hellosunshine-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: Hello Sunshine;
src: url('https://raw.githubusercontent.com/cucumber-cat/Hello-Sunshine-Light/main/hellosunshinelight-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/Hello-Sunshine-Light/main/hellosunshinelight-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/**morning glory font by catcumber, please give full credits to catcumber if used**/
@font-face {
font-family: Morning Glory;
src: url('https://raw.githubusercontent.com/cucumber-cat/MorningGlory/main/morninggloryedited-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/MorningGlory/main/morninggloryedited-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: Morning Glory;
src: url('https://raw.githubusercontent.com/cucumber-cat/MorningGlory/main/morningglorybold-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/MorningGlory/main/morningglorybold-regular-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;
}




/**Pink Mushroom font by catcumber, please give full credits to catcumber if used**/
@font-face {
font-family: Pink Mushroom;
src: url('https://raw.githubusercontent.com/cucumber-cat/Pink-Mushroom/main/pinkmushroombold-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/Pink-Mushroom/main/pinkmushroombold-regular-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: Pink Mushroom;
src: url('https://raw.githubusercontent.com/cucumber-cat/Pink-Mushroom/main/pinkmushroom-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/Pink-Mushroom/main/pinkmushroom-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/**Peanut Butter font by catcumber, please give full credits to catcumber if used**/
@font-face {
font-family: Peanut Butter;
src: url('https://raw.githubusercontent.com/cucumber-cat/Peanut-Butter/main/peanutbutter-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/Peanut-Butter/main/peanutbutter-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/**Bubbly Blaze font by catcumber, please give full credits to catcumber if used**/
@font-face {
font-family: Bubbly Blaze;
src: url('https://raw.githubusercontent.com/cucumber-cat/bubbly-blaze/main/bubblyblaze-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/bubbly-blaze/main/bubblyblaze-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/**Cherry font by catcumber, please give full credits to catcumber if used**/
@font-face {
font-family: Cherry;
src: url('https://raw.githubusercontent.com/cucumber-cat/cherry/main/cherry-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/cherry/main/cherry-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/**Beans font by catcumber, please give full credits to catcumber if used**/
@font-face {
font-family: beans;
src: url('https://raw.githubusercontent.com/cucumber-cat/beans/main/beans-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/cucumber-cat/beans/main/beans-regular-webfont.woff') format('woff');
}
